<div id="content-page" class="content-page">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 row m-0 p-0">
            <app-forum *ngFor="let p of ListArticle" [article]="p" (DeleteArticle)="deleteArticle($event)" (updateArticle)="getArticle()"></app-forum> 
          </div>
          <div class="col-sm-12 text-center">
             <img src="assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
          </div>
       </div>
    </div> 
 </div>
 
 