<div class="iq-media-group" >
    <a href="#" class="iq-media" *ngFor="let onemember of members">
    <img class="img-fluid avatar-40 rounded-circle" src="assets/images/4.jpg" alt="" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
    </a>
    
 </div>
 <!--model-->
 <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalScrollableTitle">participation List</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             
             </button>
          </div>
          <div class="modal-body" >
            <div _ngcontent-oyy-c49="" class="d-flex align-items-center mb-4" *ngFor="let onemember of members">
                <div _ngcontent-oyy-c49="" class="iq-profile-avatar status-online">
                    <img _ngcontent-oyy-c49="" src="assets/images/4.jpg" alt="" class="rounded-circle avatar-50">
                </div>
                <div _ngcontent-oyy-c49="" class="ms-3">
                    <h6 _ngcontent-oyy-c49="" class="mb-0">{{onemember.firstname}} {{onemember.lastname}}</h6>
                    <p _ngcontent-oyy-c49="" class="mb-0">Just Now</p>
                </div>
                
            </div>
          </div>
         
       </div>
    </div>
 </div>