<div id="content-page" class="content-page">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 row m-0 p-0">
             <div class="col-sm-12">
                <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">
                   <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                         <h4 class="card-title">Create Post</h4>
                      </div>
                   </div>
                   <div class="iq-card-body" (click)=" openDialog()">
                      <div class="d-flex align-items-center">
                         <div class="user-img">
                            <img src="images/user/1.jpg" alt="userimg" class="avatar-60 rounded-circle">
                         </div>
                            <input  class="form-control rounded" placeholder="Write something here..." style="border:none;" >
                      </div>
                      <hr>
                      <ul class="post-opt-block d-flex align-items-center list-inline m-0 p-0">
                         <li><a href="#"></a><img src="assets/images/small/07.png" alt="icon" class="img-fluid"> Video</li>
                         <li class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="assets/images/small/07.png" alt="icon" class="img-fluid"> Photo</li>
                         
                      </ul>
                   </div>
                </div>
             </div>
             <app-post *ngFor="let p of Listposts" [post]="p" (DeletePost)="deletePost($event)" (updatePost)="getPosts()">  
            </app-post>
          </div>
          <div class="col-sm-12 text-center">
             <img src="assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
          </div>
       </div>
    </div>
 </div>
 
 