p
{
   margin:-5px;
}
.p1{
  font-size: 12px;
}

.users{
  margin: auto;
  margin-right: 3px;
  margin-left: 3px;
}

.backgound{
  background-color:gainsboro;
  padding: 12px;
  border-radius: 25px;
}