
         <!-- Right Sidebar Panel End-->
         <!-- Page Content  -->

         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            add feedback
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">anonymous Feedback</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">       
          <form>
              <div class="form-group">
                  <label> content</label>
                  <input type="text" name="content" class="form-control" [(ngModel)]="feedback.content">
              </div>
              <div class="form-group">
                  <label for="reciever">reciever id</label>
                  <input type="number" name="reciever_user_id" class="form-control" [(ngModel)]="id">
          
                </div>
              <div class="form-group">
                  <label for="sender">sender id</label>
                  <input type="number" name="sender_user_id" class="form-control" [(ngModel)]="ids">
          
                </div>
              <button class="btn btn-success" (click)="save()"> send </button>
          </form>
         </div>
      </div>
         </div>
   </div>

                 
               
      