
   <div class="sidebar-main-active right-column-fixed">
      
    
    <!-- Wrapper Start -->
    <div class="wrapper">
       
      
      
       <div class="header-for-bg">
          <div class="background-header position-relative">
             <img style="width: 1000px;height: 400px;" src="assets/images/eventad.jpg" class="rounded rounded" alt="profile-bg">
             <div class="title-on-header">
                <div class="data-block">
                   <h2>Your Events</h2>
                </div>
             </div>
          </div>
       </div>
      
       <!-- Page Content  -->
       <div id="content-page" class="content-page">
         <!--add button-->
       <div class="row justify-content-end mb-3">
         <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"  >Add Event <i class="las la-plus"></i></button></div>
         <div id="1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-lg">
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title">Add Event</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                   
                   </button>
                </div>
                   
                <div class="card-body">
                   <p>please fill the event formulaire</p>
                   <div><form >
                     <div class="form-group">
                        <div class="custom-file">
                           <input type="file" class="custom-file-input" id="customFile">
                           <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="exampleInputText1">Event Title </label>
                        <input type="text" class="form-control"  value="" placeholder="Name your Event" [(ngModel)]="this.newE.title" [ngModelOptions]="{standalone: true}">
                     </div>
                     <div class="form-group">
                        <label for="exampleFormControlTextarea1">About</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="newE.about" [ngModelOptions]="{standalone: true}"></textarea>
                     </div>
                     
                     <div class="form-group">
                        <label for="exampleInputNumber1">Event reward</label>
                        <input type="number" class="form-control" id="exampleInputNumber1" value="0" [(ngModel)]="newE.eventReward" [ngModelOptions]="{standalone: true}">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputdate">Starts At</label>
                        <input type="date" class="form-control" id="exampleInputdate" value="" [(ngModel)]="newE.startTime"  [ngModelOptions]="{standalone: true}" >
                     </div>
                     <div class="form-group">
                        <label for="exampleInputdate">Ends At</label>
                        <input type="date" class="form-control" id="exampleInputdate" value="" [(ngModel)]="newE.endTime" [ngModelOptions]="{standalone: true}">
                     </div>
                   
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                       <button type="button" class="btn btn-primary" (click)="addevent()" data-bs-dismiss="modal">Save</button>
                    </div>
                  </form></div>
                </div>
                   
                
                
             </div>
          </div>
       </div>
        <!--end of button-->
          <div class="container" >
            
             <div class="d-grid gap-3 d-grid-template-1fr-19" >
                <!--<li>{{event.title}}</li>
                 <li></li>
                 <li>{{event.endTime}}</li>
                 <li>{{event.joinnbr}}</li>
                 <li>{{event.likenbr}}</li>
                 <li>{{event.eventReward}}</li>-->
              <div class="" *ngFor="let event of eventList">
                   <div class="card rounded  mb-0">
                     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                           <div class="carousel-item">
                              <img src="../assets/images/1.jpg" class="d-block w-100">
                           </div>
                           <div class="carousel-item">
                              <img src="../assets/images/2.jpg" class="d-block w-100">
                           </div>
                           <div class="carousel-item active">
                              <img src="../assets/images/3.jpg" class="d-block w-100">
                           </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="visually-hidden">Next</span>
                        </button>
                     </div>
                      <div class="card-body">
                         <div class="d-flex">
                            <div class="date-of-event  col-sm-2">
                               <span>{{event.startTime | date: "MMM"}}</span>
                               <h5>{{event.startTime | date: "dd"}}</h5>
                            </div>
                            <div class="events-detail ml-3">
                               <h5><a [routerLink]="'/admin-event-detail/'+event.eventId">{{event.title}}</a></h5>
                               <p>{{event.about}}</p>
                               
                               

                               <div class="event-member">
                                 <app-members [event]="event"></app-members>
                               </div>
                            </div>
                            
                         </div>
                         <div class="row justify-content-around mb-3">
                            <button type="button" class="btn btn-outline-primary rounded-pill mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onClick(event)">Update</button>
                           <!--model-->
                           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                       
                                       </button>
                                    </div>
                                    <div class="modal-body">
                                       <div class="card-body">
                                          <p>please update the event information</p>
                                          <div><form >
                                            <div class="form-group">
                                               <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="customFile">
                                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                               </div>
                                            </div>
                                            <div class="form-group">
                                               <label for="exampleInputText1">Event Title </label>
                                               <input type="text" class="form-control"   [(ngModel)]="this.newE.title" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="form-group">
                                               <label for="exampleFormControlTextarea1">About</label>
                                               <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="newE.about" [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                            
                                            <div class="form-group">
                                               <label for="exampleInputNumber1">Event reward</label>
                                               <input type="number" class="form-control" id="exampleInputNumber1" value="0" [(ngModel)]="newE.eventReward" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="form-group">
                                               <label for="exampleInputdate">Starts At</label>
                                               <input type="date" class="form-control" id="exampleInputdate" value="" [(ngModel)]="newE.startTime"  [ngModelOptions]="{standalone: true}" >
                                            </div>
                                            <div class="form-group">
                                               <label for="exampleInputdate">Ends At</label>
                                               <input type="date" class="form-control" id="exampleInputdate" value="" [(ngModel)]="newE.endTime" [ngModelOptions]="{standalone: true}">
                                            </div>
                                          
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary" (click)="updateevent()" data-bs-dismiss="modal">Save</button>
                                           </div>
                                         </form></div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                            <button type="button" class="btn btn-outline-danger rounded-pill mb-3" (click)="deleteEvent(event)">  Delete <i class="ion-heart">  </i></button>
                         </div>
                      </div>
                   </div>
                  
              </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Wrapper END -->
  

   </div>
