


  <div class="sidebar-main-active right-column-fixed">
      
    
      <!-- Wrapper Start -->
      <div class="wrapper">
         
        
         
         <div class="header-for-bg">
            <div class="background-header position-relative">
               <img src="assets/images/events.jpg" class="img-fluid w-100  rounded rounded" alt="profile-bg">
               <div class="title-on-header">
                  <div class="data-block">
                     <h2>Your Events</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-body p-0">
               <div class="user-tabing">
                  <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                     <li class="nav-item col-12 col-sm-6 p-0">
                        <a class="nav-link active" href="#pills-event-tab" data-bs-toggle="pill" data-bs-target="#event" role="button">All Events</a>
                     </li>
                     <li class="nav-item col-12 col-sm-6 p-0">
                        <a class="nav-link" href="#pills-invite-tab" data-bs-toggle="pill" data-bs-target="#invite" role="button">Your Invitation</a>
                     </li>
                     
                     
                  </ul>
               </div>
            </div>
         </div>
   <div class="col-sm-12">
      <div class="tab-content">
         <div class="tab-pane fade show active" id="event" role="tabpanel">
             <!-- Page Content  -->
            <div id="content-page" class="content-page">
            <div class="container" >
               <div class="d-grid gap-3 d-grid-template-1fr-19" >
                  <!--<li>{{event.title}}</li>
                   <li></li>
                   <li>{{event.endTime}}</li>
                   <li>{{event.joinnbr}}</li>
                   <li>{{event.likenbr}}</li>
                   <li>{{event.eventReward}}</li>-->
                <div class="" *ngFor="let event of eventList">
                     <div class="card rounded  mb-0">
                        <app-favorite  [event]="event"></app-favorite>
                        
                        <div class="event-images">
                           <a href="#">
                           <img src="assets/images/page-img/51.jpg" class="img-fluid" alt="Responsive image">
                           </a>
                        </div>
                        <div class="card-body">
                           <div class="d-flex ">
                              <div class="date-of-event ">
                                 <span>{{event.startTime | date: "MMM"}}</span>
                                 <h5>{{event.startTime | date: "dd"}}</h5>
                              </div>
                              <div class="events-detail ml-3">
                                 <h5 >
                                    <a [routerLink]="'/event-detail/'+event.eventId">{{event.title}}</a>
                                 </h5>
                                 <p>{{event.about}}</p>

                                 

                                 <div class="event-member">
                                    <app-members [event]="event"></app-members>
                                 </div>
                              </div>
                              
                           </div>
                           <div class="row justify-content-around mb-3">
                              <app-join  [event]="event"></app-join>
                              <app-like  [event]="event"></app-like>
                           </div>
                        </div>
                     </div>
                    
                </div>
               </div>
            </div>
            </div>
             <!-- Wrapper END -->
         </div>
      
         
         <div class="tab-pane fade" id="invite" role="tabpanel">
             <!-- Page Content  -->
          <app-invite></app-invite>
             <!-- Wrapper END -->
        </div>
      </div>
   </div>
</div>    
</div>     
        
    

  
   <router-outlet></router-outlet>