.animate{
    animation: grow 1s ease-out backwards;
    animation: pulse .7s 1.5s;
    animation: turn .7s 1.5s;
    animation-duration: 2s;
    animation-iteration-count:calc();
      transform-origin: 50% 50%;
      
}