<h1 mat-dialog-title>update</h1>
<div mat-dialog-content>
  <form [formGroup]="postF">
    <label for="exampleFormControlTextarea1">Example textarea</label>
<textarea class="form-control" id="exampleFormControlTextarea1" formControlName="content"></textarea>
  </form>
</div> 
<div mat-dialog-action [align]="'end'">
  <button class="btn btn-warning d-block w-100 mt-3" mat-dialog-close >close</button>
  <button class="btn btn-primary d-block w-100 mt-3" (click)="updatePost()" mat-dialog-close >{{actionBtn}}</button>
  </div>


