
 

            <div class="text-right cross"mat-dialog-close ><i class="fa fa-times"></i> </div>
            <div mat-dialog-content>
                <div class="card  ">
                    <div class="card-body text-center">
                         <img  src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                        <div class="">
                            <h1 >Congratulations!</h1>
                      </div>
                        
                        <p>{{badge.description}}</p>
                    </div>
                </div> 
              </div>
              
             